[submodule "github"]
	path = github
	url = https://github.com/whoisterencelee/github.git
[submodule "htmlDiff"]
	path = htmlDiff
	url = https://github.com/whoisterencelee/htmlDiff.git
[submodule "CryptoJS"]
	path = CryptoJS
	url = https://github.com/sytelus/CryptoJS.git
